<div>
    <p>
        {{assistantsConnectedCount}} assistant<span *ngIf="this.assistantsConnectedCount!==1">s</span> online
    </p>
</div>
<p>Moderators</p>
<ul>
    <li *ngFor="let mod of this.moderatorsConnected">{{mod}}</li>
</ul>
<p>Participants</p>
<ul>
    <li *ngFor="let part of this.participantsConnected">{{part}}</li>
</ul>

<div>
    <p>
        {{assistantsDisconnectedCount}} assistant<span *ngIf="this.assistantsDisconnectedCount!==1">s</span> offline
    </p>
</div>
<p>Moderators</p>
<ul>
    <li *ngFor="let mod of this.moderatorsDisconnected">{{mod}}</li>
</ul>
<p>Participants</p>
<ul>
    <li *ngFor="let part of this.participantsDisconnected">{{part}}</li>
</ul>