<div id="connected">
    <div>
        <p>
            {{assistantsConnectedCount}} assistant<span *ngIf="this.assistantsConnectedCount!==1">s</span> online
        </p>
    </div>
    <div *ngIf="this.moderatorsConnected.length>0">
        <p>Moderators</p>
        <ul>
            <li *ngFor="let mod of this.moderatorsConnected">{{mod}}</li>
        </ul>
    </div>
    <div *ngIf="this.participantsConnected.length>0">
        <p>Participants</p>
        <ul>
            <li *ngFor="let part of this.participantsConnected">{{part}}</li>
        </ul>
    </div>
    <div *ngIf="this.presentersConnected.length>0">
        <p>Presenters</p>
        <ul>
            <li *ngFor="let pres of this.presentersConnected">{{pres}}</li>
        </ul>
    </div>
</div>

<div id="disconnected" *ngIf="this.assistantsDisconnectedCount>0">
    <div>
        <p>
            {{assistantsDisconnectedCount}} assistant<span *ngIf="this.assistantsDisconnectedCount!==1">s</span> offline
        </p>
    </div>
    <div *ngIf="this.moderatorsDisconnected.length>0">
        <p>Moderators</p>
        <ul>
            <li *ngFor="let mod of this.moderatorsDisconnected">{{mod}}</li>
        </ul>
    </div>
    <div *ngIf="this.participantsDisconnected.length>0">
        <p>Participants</p>
        <ul>
            <li *ngFor="let part of this.participantsDisconnected">{{part}}</li>
        </ul>
    </div>
    
    <div *ngIf="this.presentersDisconnected.length>0">
        <p>Presenters</p>
        <ul>
            <li *ngFor="let pres of this.presentersDisconnected">{{pres}}</li>
        </ul>
    </div>
</div>