.mat-card {
    margin: 2%;
}

.mat-subheader {
    padding-top: 15px;
    font-size: 120%;
    color: rgb(100, 100, 100);
}

#spinner {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}