<div *ngIf="!!ovSettings" id="videoRoomNavBar" [class.boundsLight]="lightTheme">
  <app-dialog-choose-room
    *ngIf="showDialogChooseRoom && this.userService.isLogged"
    [userNickname]="userService.user.name"
    [sessionName]="sessionName"
    [ovSettings]="ovSettings"
    (join)="toggleDialogChooseRoom($event)"
    (leaveSession)="exitSession()"
  ></app-dialog-choose-room>

  <div *ngIf="localUsers && localUsers[0]">
    <app-toolbar
      [lightTheme]="lightTheme"
      [newMessagesNum]="newMessages"
      [compact]="compact"
      [localUser]="localUsers[0]"
      [mySessionId]="mySessionId"
      [ovSettings]="ovSettings"
      (camButtonClicked)="toggleCam()"
      (micButtonClicked)="toggleMic()"
      (screenShareClicked)="screenShareAndChangeScreen()"
      (stopScreenSharingClicked)="stopScreenSharing()"
      (exitButtonClicked)="exitSession()"
      (menuButtonClicked)="toggleMenu()"
    ></app-toolbar>

    <app-dialog-extension
      *ngIf="showDialogExtension"
      [nickname]="localUsers[0].getNickname()"
      (cancel)="toggleDialogExtension()"
    ></app-dialog-extension>
    <mat-sidenav-container class="sidenav-container" id="room-container" [class.boundsLight]="lightTheme" fullscreen>
      <mat-sidenav
        #sidenav
        mode="{{sidenavMode}}"
        position="end"
        class="sidenav-menu"
        [class.boundsLight]="lightTheme"
        fixedInViewport="true"
        fixedTopGap="40"
        fixedBottomGap="0"
        *ngIf="localUsers && (localUsers[0].getStreamManager())"
      >
      
        <mat-tab-group class="tab-group" backgroundColor="primary" animationDuration="0ms">

          <mat-tab class="tab" *ngIf="!this.ovSettings || (this.ovSettings && this.ovSettings.chat)">
            <ng-template mat-tab-label>
              <mat-icon>chat</mat-icon>
              <span *ngIf="userService.canStream(mySessionId)">Assistants chat</span>
              <span *ngIf="!userService.canStream(mySessionId)">Chat</span>
            </ng-template>
            <chat-component
              #chatComponent
              [signal]="'chat'"
              [session]="this.session"
              [sessionScreen]="this.sessionScreen"
              [user]="this.localUsers[0]"
              [menuOpened]="menuOpened"
              [lightTheme]="lightTheme"
              [messageList]="messageList"
              [roomName]="roomName"
              [connections]="[]"
              (closeMenu)="toggleMenu()"
            ></chat-component>
          </mat-tab>

          <mat-tab class="tab" *ngIf="(!this.ovSettings || (this.ovSettings && this.ovSettings.chat)) && userService.canStream(mySessionId)">
            <ng-template mat-tab-label>
              <mat-icon>chat_bubble</mat-icon>
              Moderators chat
            </ng-template>
            <chat-component
              #modChatComponent
              [signal]="'chatMod'"
              [session]="this.session"
              [sessionScreen]="this.sessionScreen"
              [user]="this.localUsers[0]"
              [menuOpened]="menuOpened"
              [lightTheme]="lightTheme"
              [messageList]="messageListMod"
              [roomName]="roomName"
              [connections]="modConnections"
              (closeMenu)="toggleMenu()"
            ></chat-component>
          </mat-tab>

          <mat-tab class="tab">
            <ng-template mat-tab-label>
              <mat-icon>people</mat-icon>
              Assistants
            </ng-template>
            <ng-template matTabContent>
              <assistants-component
                #assistants
                [session]="session"
                [userName]="userService.user.name">
              </assistants-component>
            </ng-template>
          </mat-tab>

        </mat-tab-group>
      </mat-sidenav>

      <mat-sidenav-content class="sidenav-main">
        <div id="layout" class="bounds" [class.boundsLight]="lightTheme">
          <ng-container *ngIf="userService.canStream(mySessionId)">
            <div
              class="OT_root OT_publisher custom-class"
              id="localUser"
              *ngFor="let localUser of localUsers"
              (dblclick)="enlargeElement($event)">
              <stream-component
                *ngIf="localUser.getStreamManager()"
                #videoStream
                [user]="localUser"
                [localUser]="localUsers[0]"
                [lightTheme]="lightTheme"
                [newMessagesNum]="newMessages"
                [compact]="compact"
                [menuOpened]="menuOpened"
                [canEditNickname]="true"
                (nicknameClicked)="nicknameChanged($event)"
                (camButtonClicked)="toggleCam()"
                (micButtonClicked)="toggleMic()"
                (exitButtonClicked)="exitSession()"
                (menuButtonClicked)="toggleMenu()"
                (screenShareClicked)="screenShareAndChangeScreen()"
                (stopScreenSharingClicked)="stopScreenSharing()">
              </stream-component>
            </div>
          </ng-container>

          <div
            *ngFor="let user of this.remoteUsers"
            class="OT_root OT_publisher custom-class"
            id="remoteUsers"
            (dblclick)="enlargeElement($event)"
          >
            <stream-component
              #videoStream
              [user]="user"
              [localUser]="localUsers[0]"
              [lightTheme]="lightTheme"
              [newMessagesNum]="newMessages"
              [compact]="compact"
              [menuOpened]="menuOpened"
              [canEditNickname]="false"
              (camButtonClicked)="toggleCam()"
              (micButtonClicked)="toggleMic()"
              (exitButtonClicked)="exitSession()"
              (menuButtonClicked)="toggleMenu()"
              (screenShareClicked)="screenShareAndChangeScreen()"
              (stopScreenSharingClicked)="stopScreenSharing()"
            ></stream-component>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
