backend/src/main/resources/static/*
backend/bin/src/main/resources/keystore.jks
backend/bin/src/main/resources/static/assets/images/favicon.ico
backend/bin/src/main/resources/static/assets/images/land2_bg.jpg
backend/bin/src/main/resources/static/assets/images/openvidu_globe_bg_transp_cropped.png
backend/bin/src/main/resources/static/assets/images/openvidu_grey_bg_transp_cropped.png
backend/bin/src/main/resources/static/assets/images/openvidu_logo.png
backend/bin/src/main/resources/static/assets/images/openvidu_logo_grey.png
backend/bin/src/main/resources/static/assets/images/openvidu_vert_white_bg_trans_cropped.png
backend/bin/src/main/resources/static/favicon.ico
backend/bin/src/main/resources/static/index.html
backend/bin/src/main/resources/static/main.js
backend/bin/src/main/resources/static/main.js.map
backend/bin/src/main/resources/static/polyfills-es5.js
backend/bin/src/main/resources/static/polyfills-es5.js.map
backend/bin/src/main/resources/static/polyfills.js
backend/bin/src/main/resources/static/polyfills.js.map
backend/bin/src/main/resources/static/runtime.js
backend/bin/src/main/resources/static/runtime.js.map
backend/bin/src/main/resources/static/scripts.js
backend/bin/src/main/resources/static/scripts.js.map
backend/bin/src/main/resources/static/styles.js
backend/bin/src/main/resources/static/styles.js.map
backend/bin/src/main/resources/static/vendor.js
backend/bin/src/main/resources/static/vendor.js.map
backend/src/main/resources/static/index.html
backend/src/main/resources/static/main.js
backend/src/main/resources/static/main.js.map
backend/src/main/resources/static/polyfills-es5.js
backend/src/main/resources/static/polyfills-es5.js.map
backend/src/main/resources/static/polyfills.js
backend/src/main/resources/static/polyfills.js.map
backend/src/main/resources/static/styles.js
backend/src/main/resources/static/styles.js.map
backend/src/main/resources/static/vendor.js
*.class
