backend/src/main/resources/static/*
backend/bin/src/main/resources/keystore.jks
backend/bin/src/main/resources/static/*
backend/src/main/resources/static/*
*.class
docker/composed/.env

backend/bin/

docker/videos/
