<mat-drawer-container class="section1">
	<mat-drawer #videosDrawer id="videosDrawer" mode="over" position="end">
	<h2 id="drawerTitle">Videos of room "{{currentRoomOfVideos}}"</h2>
	<mat-nav-list id="videoList">
		<h4 *ngIf="currentVideos.length==0" id="noVideosMessage">This room doesn't have any recorded videos</h4>
		<mat-list-item *ngFor="let video of currentVideos" class="videoItem">
		<a matLine mat-flat-button [routerLink]="'/'+currentRoomOfVideos+'/video/'+video.id" class="videoButton">
			<span><b>{{video.name}}</b></span>
			<span class="videoDate">{{video.createdAt.toLocaleString()}}</span>
		</a>
		</mat-list-item>
		<input cdkFocusInitial style="display:none"/>
	</mat-nav-list>
	</mat-drawer>

	<mat-drawer-content>
		<mat-toolbar id="header">
			<a href="https://openvidu.io/" target="_blank">
				<img id="header_img" alt="OpenVidu Logo" src="assets/images/logo.png" />
			</a>
			<div class="ovVersion">
				<span>{{ version }}</span>
			</div>
		</mat-toolbar>
		<div class="container">
			<div class="ovInfo">
				<img class="ovLogo" alt="OpenVidu Logo" src="assets/images/logo.png" />
			</div>

			<login-component
				(loggedIn)="loggedIn()">
			</login-component>
		
			<mat-spinner color="accent" id="spinner" *ngIf="loading"></mat-spinner>
		
			<div id="card_content" *ngIf="isLogged()
				&& !loading
				&& ((this.moddedRooms!==undefined && this.moddedRooms.length>0)
				|| (this.presentedRooms!==undefined && this.presentedRooms.length>0)
				|| (this.participatedRooms!==undefined && this.participatedRooms.length>0))">
				<mat-card id="room_card">
					<mat-list>
					<div *ngIf="this.moddedRooms!==undefined && this.moddedRooms.length>0">
						<h3 mat-subheader>MODDED ROOMS</h3>
						<mat-list-item *ngFor="let mod of this.moddedRooms">
						<a mat-line mat-stroked-button (click)="goToRoom(mod.name)">
							{{mod.name}}
						</a>
						<button mat-icon-button (click)="getInviteURL(mod.name,'moderator')">
							<mat-icon color="accent" matTooltip="Invite URL for moderators">link</mat-icon>
						</button>
						<button mat-icon-button (click)="getInviteURL(mod.name,'presenter')">
							<mat-icon color="primary" matTooltip="Invite URL for presenters">link</mat-icon>
						</button>
						<button mat-icon-button (click)="getInviteURL(mod.name,'participant')">
							<mat-icon matTooltip="Invite URL for participants" class="participantLink">link</mat-icon>
						</button>
						<button mat-icon-button (click)="openVideos(mod.name)" *ngIf="isRecordingEnabled">
							<mat-icon matTooltip="See recorded videos">video_library</mat-icon>
						</button>
						</mat-list-item>
					</div>
			
					<div *ngIf="this.presentedRooms!==undefined && this.presentedRooms.length>0">
						<h3 mat-subheader>PRESENTED ROOMS</h3>
						<mat-list-item *ngFor="let pres of this.presentedRooms">
						<a mat-line mat-stroked-button (click)="goToRoom(pres.name)">
							{{pres.name}}
						</a>
						<button mat-icon-button (click)="openVideos(pres.name)" *ngIf="isRecordingEnabled">
							<mat-icon matTooltip="See recorded videos">video_library</mat-icon>
						</button>
						</mat-list-item>
					</div>
					
					<div *ngIf="this.participatedRooms!==undefined && this.participatedRooms.length>0">
						<h3 mat-subheader>PARTICIPATED ROOMS</h3>
						<mat-list-item *ngFor="let part of this.participatedRooms">
						<a mat-line mat-stroked-button (click)="goToRoom(part.name)">
							{{part.name}}
						</a>
						<button mat-icon-button (click)="openVideos(part.name)" *ngIf="isRecordingEnabled">
							<mat-icon matTooltip="See recorded videos">video_library</mat-icon>
						</button>
						</mat-list-item>
					</div>
					</mat-list>
			
					<button mat-flat-button class="addRoomButton" matTooltip="Create a new room" (click)="openAddRoomDialog()" *ngIf="isAdmin()">
					<mat-icon>add</mat-icon>
					</button>
				</mat-card>
			</div>
		</div>

		<ng-template #addRoomDialog let-dialogRef="dialogRef" id="addRoomDialog">
			<mat-form-field appearance="outline" class="dialogCentered">
				<mat-label>Room name</mat-label>
				<input matInput [(ngModel)]="newRoom"  (keypress)="eventKeyPress($event)">
			</mat-form-field>
			<div>
				<button mat-flat-button class="addRoomButton dialogCentered" matTooltip="Create a new room" (click)="createRoom()">
				<mat-icon>add</mat-icon>
				</button>
			</div>
		</ng-template>

		<mat-toolbar class="footer">
			<span>
				Photo by
				<a
					rel="noopener noreferrer"
					target="_blank"
					href="https://unsplash.com/@danielleone?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
				>
					Daniel Leone
				</a>
				on
				<a
					href="https://unsplash.com/s/photos/mountain?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
					target="_blank"
				>
					Unsplash
				</a></span
			>
		</mat-toolbar>
	</mat-drawer-content>
</mat-drawer-container>