<mat-card id="settingsCard">
    <div id="recordSection" *ngIf="isRecordingEnabled">
        <button mat-flat-button color="accent" *ngIf="!isBeingRecorded" (click)="startRecording()" [disabled]="changingRecordStatus">
            <mat-icon>videocam</mat-icon>
            Start recording
        </button>
        <button mat-flat-button color="warn" *ngIf="isBeingRecorded" (click)="stopRecording()" [disabled]="changingRecordStatus">
            <mat-icon>videocam_off</mat-icon>
            Stop recording
        </button>
        <mat-spinner *ngIf="changingRecordStatus" color="accent" [diameter]="40"></mat-spinner>
    </div>
    <br *ngIf="isRecordingEnabled">
    <div *ngIf="this.userSrv.isModOfRoom(this.roomName)">
        <b>Invite links:</b>
        <button mat-icon-button (click)="getInviteURL('moderator')">
            <mat-icon color="accent" matTooltip="Invite URL for moderators">link</mat-icon>
        </button>
        <button mat-icon-button (click)="getInviteURL('presenter')">
            <mat-icon class="invitePresenter" matTooltip="Invite URL for presenters">link</mat-icon>
        </button>
        <button mat-icon-button (click)="getInviteURL('participant')">
            <mat-icon matTooltip="Invite URL for participants">link</mat-icon>
        </button>
    </div>
</mat-card>