#component{
    font-family: 'Ubuntu', sans-serif;
}

#username {
    color: #ffffff;
}

.mat-card {
    background-color: #696969;
}

::ng-deep .mat-dialog-container {
    background-color: #494949;
    height: fit-content !important;
    width: fit-content !important;
    margin: auto auto;
}

::ng-deep.mat-form-field-underline {
    background-color: #ffffff !important;
}

 ::ng-deep.mat-form-field-ripple {
    background-color: #ffffff !important;
}

mat-card-content {
    margin-bottom: 0px;
}

.centered {
    left: 50%;
    transform: translate(-50%, 0);
}