<div id="section1">

  <mat-toolbar id="header">
    <a [routerLink]="['']">
      <img id="header_img" alt="OpenVidu Logo" src="assets/images/openvidu_logo.png">
    </a>
    <div id="version">
      <span>{{version}}</span>
    </div>
  </mat-toolbar>

  <div id="ov_info">
    <img id="ov_img" alt="OpenVidu Logo" src="assets/images/openvidu_vert_white_bg_trans_cropped.png">
  </div>

  <login-component
    (loggedIn)="getRooms()">
  </login-component>

  <div id="card_content" *ngIf="this.userSrv.isLogged
    && ((this.moddedRooms!==undefined && this.moddedRooms.length>0)
    || (this.presentedRooms!==undefined && this.presentedRooms.length>0)
    || (this.participatedRooms!==undefined && this.participatedRooms.length>0))">
    <mat-card id="room_card">
      <mat-list>
        <div *ngIf="this.moddedRooms!==undefined && this.moddedRooms.length>0">
          <h3 mat-subheader>MODDED ROOMS</h3>
          <mat-list-item *ngFor="let mod of this.moddedRooms">
            <a mat-line mat-button routerLink="{{mod.name}}">{{mod.name}}</a>
          </mat-list-item>
        </div>

        <mat-divider *ngIf="this.moddedRooms!==undefined && this.moddedRooms.length>0 && this.presentedRooms!==undefined && this.presentedRooms.length>0"></mat-divider>

        <div *ngIf="this.presentedRooms!==undefined && this.presentedRooms.length>0">
          <h3 mat-subheader>PRESENTED ROOMS</h3>
          <mat-list-item *ngFor="let pres of this.presentedRooms">
            <a mat-line mat-button routerLink="{{pres.name}}">{{pres.name}}</a>
          </mat-list-item>
        </div>

        <mat-divider *ngIf="((this.moddedRooms!==undefined && this.moddedRooms.length>0) || (this.presentedRooms!==undefined && this.presentedRooms.length>0)) && this.participatedRooms!==undefined && this.participatedRooms.length>0"></mat-divider>

        <div *ngIf="this.participatedRooms!==undefined && this.participatedRooms.length>0">
          <h3 mat-subheader>PARTICIPATED ROOMS</h3>
          <mat-list-item *ngFor="let part of this.participatedRooms">
            <a mat-line mat-button routerLink="{{part.name}}">{{part.name}}</a>
          </mat-list-item>
        </div>
      </mat-list>

    </mat-card>
  </div>
</div>