<div id="background">
    <div id="component">
        <div id="ov_info">
            <img id="ov_img" alt="OpenVidu Logo" src="assets/images/openvidu_vert_white_bg_trans_cropped.png">
        </div>
        <div id="roomName">Joining "{{roomName}}"</div>
        <div>
            <mat-form-field appearance="outline" color="primary">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="userName">
                <mat-hint *ngIf=this.inputErrorMsg id="inputErrorMsg">{{inputErrorMsg}}</mat-hint>
            </mat-form-field>
            <div></div>
            <button mat-raised-button color="accent" (click)="enterRoom()">Access room</button>
        </div>
    </div>
</div>