<div *ngIf="!!ovSettings" id="videoRoomNavBar" [class.boundsLight]="lightTheme">
  <app-room-config
    *ngIf="showConfigRoomCard && this.userService.isLogged"
    [ovSettings]="ovSettings"
    (join)="onConfigRoomJoin()"
    (leaveSession)="leaveSession()"
  ></app-room-config>

  <div *ngIf="localUsers && localUsers.length > 0">
    <div *ngIf="isConnectionLost" class="reconnecting-container"></div>
    <app-toolbar
      [lightTheme]="lightTheme"
      [compact]="compact"
      [mySessionId]="mySessionId"
      [ovSettings]="ovSettings"
      [hasVideoDevices]="hasVideoDevices"
      [hasAudioDevices]="hasAudioDevices"
      [isWebcamVideoEnabled]="oVSessionService.hasWebcamVideoActive()"
      [isWebcamAudioEnabled]="toolbarMicIconEnabled()"
      [isScreenEnabled]="oVSessionService.isScreenShareEnabled()"
      [isAutoLayout]="isAutoLayout"
      [isConnectionLost]="isConnectionLost"
      [localUser]="localUsers[0]"
      (camButtonClicked)="toggleCam()"
      (micButtonClicked)="toggleMic()"
      (screenShareClicked)="toggleScreenShare()"
      (layoutButtonClicked)="toggleSpeakerLayout()"
      (leaveSessionButtonClicked)="leaveSession()"
    ></app-toolbar>

    <mat-sidenav-container class="sidenav-container" id="room-container" [class.boundsLight]="lightTheme" fullscreen>
      <mat-sidenav
        #sidenav
        mode="{{sidenavMode}}"
        position="end"
        class="sidenav-menu"
        [class.boundsLight]="lightTheme"
        fixedInViewport="true"
        fixedTopGap="40"
        fixedBottomGap="0"
      >
      <app-menu
        [ovSettings]="ovSettings"
        [lightTheme]="lightTheme"
      >
      </app-menu>
      </mat-sidenav>

      <mat-sidenav-content class="sidenav-main">

        <popup-component
          *ngFor="let notification of this.notificationsService.currentNotifications"
          class="popup"
          #popup
          @popup
          [style.top]="notification.top"
          [subtitle]="notification.subtitle"
          [userName]="notification.nickname"
          [userAvatar]="notification.userAvatar"
          [content]="notification.content"
          [color]="notification.color"
          [isRaiseHand]="false"
          [roomName]="this.mySessionId"
          [connectionId]="undefined">
        </popup-component>

        <popup-component
          *ngIf="this.notificationsService.handRaisedUsers.length>0"
          class="popup"
          #raisedHands
          @popup
          [style.top]="'5%'"
          [subtitle]="undefined"
          [userName]="this.notificationsService.handRaisedUsers[0].nickname"
          [userAvatar]="this.notificationsService.handRaisedUsers[0].avatar"
          [content]="this.notificationsService.handsRaisedMessage"
          [color]="'accent'"
          [isRaiseHand]="true"
          [roomName]="this.mySessionId"
          [connectionId]="this.notificationsService.handRaisedUsers[0].connectionId">
        </popup-component>

        <div id="layout" class="bounds" [class.boundsLight]="lightTheme">
          <ng-container *ngIf="userService.canStream(mySessionId)">
            <div
              class="OT_root OT_publisher custom-class"
              id="localUser"
              *ngFor="let localUser of localUsers"
              [style.display]="!localUser.streamManager?.stream?.videoActive ? 'none' : 'block'"
            >
            <!-- Only webcam video will be shown if webcamera is available -->
              <stream-component
                [user]="localUser"
                [videoSizeBig]="localUser.videoSizeBig"
                (nicknameClicked)="onNicknameUpdate($event)"
                (replaceScreenTrackClicked)="onReplaceScreenTrack($event)"
                (toggleVideoSizeClicked)="onToggleVideoSize($event)"
              ></stream-component>
            </div>
          </ng-container>
          <canvas-whiteboard
            #canvasWhiteboard
            *ngIf="whiteboardActive"
            [options]="whiteboardOptions">
          </canvas-whiteboard>
          <div
            *ngFor="let user of remoteStreamers"
            class="OT_root OT_publisher custom-class"
            id="remoteStreamers"
            [style.display]="!user.streamManager?.stream?.videoActive ? 'none' : 'block'"
          >
            <stream-component
              [user]="user"
              [videoSizeBig]="user.videoSizeBig"
              (toggleVideoSizeClicked)="onToggleVideoSize($event)"
            ></stream-component>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>

    <app-footer
      [lightTheme]="lightTheme"
      [assistants]="remoteUsers"
    ></app-footer>
  </div>
</div>
