<mat-tab-group #tabGroup class="tab-group" backgroundColor="primary" animationDuration="0ms" (selectedTabChange)="tabChanged($event)" dynamicHeight>
	<mat-tab class="tab" *ngIf="ovSettings | hasChat">
		<ng-template mat-tab-label>
			<mat-icon matBadge="{{newMessagesAssistants}}" [matBadgeHidden]="newMessagesAssistants === 0"  matBadgePosition="above before" matBadgeColor="accent">chat</mat-icon>
			<span *ngIf="userService.canStream(mySessionId)">Assistants chat</span>
			<span *ngIf="!userService.canStream(mySessionId)">Chat</span>
		</ng-template>
		<chat-component
			#assistantsChatComponent
			[lightTheme]="true"
			[type]="'moderators'"
		></chat-component>
	</mat-tab>

	<mat-tab class="tab" *ngIf="(ovSettings | hasChat) && userService.canStream(mySessionId)">
		<ng-template mat-tab-label>
		  <mat-icon matBadge="{{newMessagesModerators}}" [matBadgeHidden]="newMessagesModerators === 0"  matBadgePosition="above before" matBadgeColor="accent">chat_bubble</mat-icon>
		  Moderators chat
		</ng-template>
		<chat-component
			#moderatorsChatComponent
			[lightTheme]="false"
			[type]="'assistants'"
		></chat-component>
	</mat-tab>

	<mat-tab class="tab">
		<ng-template mat-tab-label>
			<mat-icon>people</mat-icon>
			Assistants
		</ng-template>
		<ng-template matTabContent>
			<app-assistants #assistants>
			</app-assistants>
		</ng-template>
	</mat-tab>

	<mat-tab class="tab" *ngIf="userService.isModOfRoom(mySessionId)">
		<ng-template mat-tab-label>
			<mat-icon>settings</mat-icon>
			Settings
		</ng-template>
		<app-settings #settings>
		</app-settings>
	</mat-tab>
</mat-tab-group>