#header {
  background-color: transparent;
  color: #ffffff;
}
#header_img {
  max-width: 200px;
  margin-right: 10px;
  margin-top: 10px;
}

#version {
  position: absolute;
  right: 5px;
  font-size: 16px;
}

#section1 {
  background-image: url('~/assets/images/land2_bg.jpg');
  background-size: cover;
  height: 100%;
  text-align: center;
  position: relative;
}

#ov_info {
  color: #ffffff;
}
#ov_img {
  max-width: 50%;
  margin: auto;
}

login-component {
  max-width: 200%;
  max-height: 200%;
}

#card_content {
  height: 50%;
  margin-top: 10px;
}

#room_card {
  color: #303030;
  position: inherit;
  max-width: 700px;
  width: 75%;
  margin: auto;
  background: rgba(221, 221, 221, 0.856);
}

#room_card mat-form-field {
  margin: auto;
  padding: 0px 5px;
}
@media (max-width: 700px) {
  #header_img {
    visibility: hidden;
  }
  #ov_img {
    max-width: 65%;
  }
}

#spinner {
  margin:5% auto;
}

.invitePresenter {
  color: rgb(6, 211, 98);
}

.addRoomButton {
  background-color: rgb(6, 211, 98);
}

.dialogCentered {
  left: 50%;
  transform: translate(-50%, 0);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #dfdfdf;
  opacity: 1;
}